{% extends "base.html" %}
{% block title %}Welcome to To-Do Table{% endblock title %}

{% block content %}
<nav class="navbar">
    <ul>
        <li><a href="/table">Table</a></li>
        <li><a href="/analytics">Analytics</a></li>
    </ul>
</nav>


<main>
    <div>
        <h1>Dashboard</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, ea? Voluptate tenetur, temporibus dicta iusto maxime, hic quidem nemo id dolore eligendi natus! Voluptas rem explicabo enim minima praesentium assumenda?</p>
    </div>
</main>
{% endblock %}